p{
    font-size: 13px;
}

.navbar {
    overflow: hidden;
    background-color: white;
}

.navbar a {
    float: left;
    font-size: 13px;
    color: black;
    text-align: center;
    padding: 14px 10px;
    text-decoration: none;
}

.tmenu_nav {
    overflow: hidden;
    background-color: white;
}

.text_menu {
    font-size: 11px;
    color: grey;
    text-align: left;
    padding: 14px 16px;
}

.text_icon {
    font-size: 12px;
    color: grey;
    text-align: left;
    font-family: 'Questrial', sans-serif;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 12px;
    border: none;
    outline: none;
    color: black;
    padding: 14px 10px;
    background-color: inherit;
    margin: 0;
    font-family: 'Questrial', sans-serif;
}

.dropbtn-nav-menu {
    font-size: 14px;
    border: none;
    outline: none;
    color: black;
    padding: 14px 14px;
    background-color: inherit;
    margin: 0;
    font-family: 'Questrial', sans-serif;
}

.navbar a:hover, .dropdown:hover .dropbtn {
    background-color: white;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    width: 33.33%;
    left: 0;
    z-index: 1;
}

.dropdown-content .header {
    background: red;
    padding: 16px;
    color: white;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* Create three equal columns that floats next to each other */


.column a {
    float: none;
    color: black;
    width: 100%;
    padding: 10px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.column a:hover {
    background-color: #ddd;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.big_arrow {
    border: solid black;
    border-width: 0 1px 1px 0;
    display: inline-block;
    padding: 5px;
}

.small_arrow {
    border: solid black;
    border-width: 0 1px 1px 0;
    display: inline-block;
    padding: 2px;
    margin-left: 5px;
}

.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

.up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}